@model FishyFish2.Models.Catch

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Catch</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.PersonId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PersonId)
                @Html.ValidationMessageFor(model => model.PersonId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inches, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inches)
                @Html.ValidationMessageFor(model => model.Inches)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateSubmitted, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateSubmitted)
                @Html.ValidationMessageFor(model => model.DateSubmitted)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Photo1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Photo1)
                @Html.ValidationMessageFor(model => model.Photo1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Photo2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Photo2)
                @Html.ValidationMessageFor(model => model.Photo2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Verified, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Verified)
                @Html.ValidationMessageFor(model => model.Verified)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateVerified, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateVerified)
                @Html.ValidationMessageFor(model => model.DateVerified)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Posted, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Posted)
                @Html.ValidationMessageFor(model => model.Posted)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Species, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Species)
                @Html.ValidationMessageFor(model => model.Species)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
