@model FishyFish2.Models.Catch

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Catch</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inches)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inches)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSubmitted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSubmitted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Verified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Verified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateVerified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateVerified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Posted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Posted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Species)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Species)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CatchId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
